.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formStyle {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formLabel {
  margin: 2px;
}

.formInput {
  color: #f5f3f7;
  border: 2px solid #fcfbfd;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  font-size: 1.05rem;
  margin: 0.5rem;
}

.formInput:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}
.formSelect {
  color: #f5f3f7;
  border: 2px solid #fcfbfd;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  font-size: 1.05rem;
  margin: 0.5rem;
  appearance: none;
}

option {
  background: #242424;
}
option:hover {
  background-color: #8707ff;
}

.formButton {
  width: 3rem;
  height: 2.5rem;
  margin-left: 15px;
  border-radius: 10%;
}
.searchButton:hover {
  background-color: #4dad5b;
}

/*------------------------responsive----------------------*/

@media screen and (max-width: 600px) {
  .formStyle {
    flex-direction: column;
  }
}
