/* Css created */
/* .customNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 66, 248);
  height: 5rem;
  width: 100%;
}

.navLinks {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgb(66, 66, 248);
  z-index: 1;
}

.navLinks {
  display: flex;
}

.customNavBar .Title {
  display: flex;
  align-items: center;
}
.customNavBar .navButtons {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1rem;
}
.ButtonsMain {
  display: flex;
  flex-direction: column;
}

.MainButtons {
  display: flex;
  margin: 0.2rem;
}

@media screen and (max-width: 1200px){

} */





.customNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 66, 248);
  height: 5rem;
  width: 100%;
}

.titleContainer {
  margin-left: 5%;
}

.navLinks {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.MainButtons {
  text-align: center;
  background-color: black;
  color: white;
  padding: 3%;
  border-radius: 15%;
}
