/* Css created */
.customNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(66, 66, 248);
  height: 5rem;
  width: 100%;
  z-index: 1;
}
.titleContainer {
  display: flex;
  width: 13rem;
  justify-content: center;
}

.navLinks {
  display: flex;
  align-items: center;
  background-color: rgb(66, 66, 248);
  z-index: 1;
}
