.carousel-control {
  border: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.carousel-indicator-item {
  width: 15px;
  height: 15px;
  border: none;
  background: #fff;
  margin: 0 1rem;
  border-radius: 50%;
  opacity: 0.2;
}

.active {
  opacity: 1;
}
