.taskHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.statusHearder{
  width: 80px;
}

.ticketImage{
  width: 10rem;
}

.Status {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.Tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardTicket {
  width: 15rem;
  background-color: #8758ff;
  display: block;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 950px) {
  .Tickets {
    width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .Tickets {
    flex-direction: row;
    height: 160px;
  }
}
